body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
  background-color: #204051;
}

.font-text{
  color: #fff;
}

.round-img{
  border-radius: 30px;
}
.card{
  background-color: #204051;
}
.card-header,.font-text-col{
  color: white;
}
.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    background-color:#00a1ab ;
}

.navbar-brand, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
    padding-left: 30px;
}
.nav-reg{
  font-family: sans-serif;
  padding-left: 30px;
  color:  #204051;
  padding-top: 5%;
  text-align: center;
}
.navbar-welcome{
  color:  #204051;
  font-size: 150%;
  padding-left: 3%;
  padding-top: 1%;
}
.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 10rem;
    padding-bottom: 1.5rem;

}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.action-button {
  margin-left: 100px;
}

#file-uploader .file-uploader {
  margin-left: 400px;
  padding: 20px;
}
